[submodule "submodules/javascript-functions"]
	path = submodules/javascript-functions
	url = https://github.com/code-kern-ai/submodule-javascript-functions.git
[submodule "submodules/react-components"]
	path = submodules/react-components
	url = https://github.com/code-kern-ai/submodule-react-components.git
