.wait,
.wait * {
    cursor: wait;
}

.specialUserActive {
    fill: #6DD87F;
    stroke: none;

}

.specialUserInActive {
    fill: none;
    stroke: #6DD87F;
}

.rotateTransform {
    transform: rotate(180deg);
}