.actionsHeight {
  height: 34px;
}

.widthLine {
  width: calc(100vw - 450px);
}

.borderBottom {
  border-bottom: 1px solid #4f46e5;
}

@media screen and (min-width: 1280px) {
  .widthLine {
    width: calc(100vw - 850px);
  }
}
