.stats {
    display: inline-grid;
    overflow: hidden;
    overflow-x: auto;
    grid-auto-flow: column;
    border-radius: 12px;
}

.statsTitle {
    white-space: nowrap;
    grid-column-start: 1;
    opacity: .5;
}