.actionsHeight {
    height: 34px;
}

@media screen and (min-width: 1280px) {
    .widthLine {
        width: calc(100vw - 850px);
    }
}

.borderBottom {
    border-bottom: 1px solid #4F46E5;
}

.item {
    margin-bottom: 20px;
    min-width: 410px;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -moz-page-break-inside: avoid;
    page-break-inside: avoid;
}

@media (max-width: 1360px) {
    .flexContainer {
        column-count: 2 !important;
    }
}

.flexContainer {
    column-count: 3;
    column-gap: 1rem;
}